/* Add your global styles here */

.MDBContainer {
    margin-top: 50px;
    max-width: 1000px;
    margin: 150px auto; /* Center the container horizontally */
  }
  
  .MDBAccordionItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .MDBAccordionItemTitle {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
  }
  
  .MDBAccordionItemTitle:hover {
    background-color: #e0e0e0;
  }
  
  .MDBAccordionItemContent {
    padding: 10px;
  }
  
  /* Customize the appearance of the strong element if needed */
  .MDBAccordionItemContent strong {
    font-weight: bold;
    color: #333; /* Change the color as desired */
  }